---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import FullWidth from '../../components/FullWidth.astro'
---

<DefaultLayout title="The Problem with Data Clouds">
    <section>
        <div class="container">
            <h1 class="text-center text-6xl md:text-left">
                The Problem<br /><hr>with Data Clouds<hr>
            </h1>
        </div>
    </section>
    <section class="my-8">
        <div class="container">
            <p class="text-2xl">
                text
            </p>
        </div>
    </section>
    <FullWidth>
        <h4 class="text-4xl">heading 4</h4>
        <p class="text-xl">
            some text 
        </p>
    </FullWidth>
    <section class="my-8">
        <div class="container">
            <p class="text-2xl">
                text
            </p>
        </div>
    </section>
</DefaultLayout>