---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import { Card, Pagination } from 'accessible-astro-components'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="mt-8">
    <div class="space-content bg-neutral-100 dark:bg-neutral-600 py-12 px-40">
      <h4 class="text-4xl">Introducing Icebreaker Data</h4>
      <p class="text-xl">
        Built on a modern, <a href="/product/stack/">composable stack</a>, Icebreaker is a new data cloud that gives exceptional price performance for your day-to-day SQL workloads. 
      </p>
      <p class="text-xl">
        <strong>But Icebreaker goes much farther, where others don't go.</strong>
      </p>
      <p class="text-xl">
        Icebreaker cuts out waste and inefficiencies. It integrates FinOps controls, so you can now do two impossible things at the same time: slash your data budget <span class="font-bold">and</span> meet your SLAs.
      </p>   
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Slash Your Data Budget</h2>
    <p class="text-2xl">
      Do you know how data cloud providers turn a profit? By managing and controlling compute resources: Data FinOps, if you will. 
    </p>
    <p class="text-2xl">
      Data FinOps goes far beyond separation of storage and compute, auto-scaling, and open stacks. (All of which we embrace!) 
    </p>
    <p class="text-2xl">
      We integrate FinOps into Icebreaker, so you can achieve financial sanity in your cloud data warehouse, datalake, or lakehouse operations.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Meet Your SLAs</h2>
    <p class="text-2xl">
      Data teams often meet SLAs by consuming more compute capacity than they need &mdash; just in case. When the CFO says those days are over, will your financial workloads complete on time?  
    </p>
    <p class="text-2xl">
      Icebreaker scopes and right-sizes every query. Large (expensive) compute instances will spin up, but only when a query requires it. Smaller queries run on spare capacity or smaller instances. 
    </p>
    <p class="text-2xl">
      Each and every query runs &mdash; exactly as it should.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Secure Your Tenants' Data</h2>
    <p class="text-2xl">
      SaaS customers naturally want to use <span class="italic">their</span> data, which is stored in <span class="italic">your</span> systems. Lots of other companies want to productize data. 
    </p>
    <p class="text-2xl">
      But you learn quickly that it is (a) too risky to share compute resources, and (b) too expensive to isolate tenant workloads by cluster.
    </p>
    <p class="text-2xl">
      Icebreaker resolves these problems with <span class="italic">automatic</span> query isolation. It's an elegant and simple way to dramatically reduce threat exposure. 
    </p>
  </ContentMedia>
  <section class="my-16 bg-neutral-100 dark:bg-neutral-600 py-12">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2 class="text-6xl">Great Mentions</h2>
        <p class="text-xl">
          What people are saying about Icebreaker.
        </p>
      </div>
      <div class="space-content">
        <p class="text-xl">
          quotes go here
      </div>
    </div>
  </section>
</DefaultLayout>
