---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import FullWidth from '../../components/FullWidth.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="FAQ">
    <div class="container">
      <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-[2fr_1fr]">
        <div class="flex flex-col items-center gap-8 md:items-start">
          <h1 class="text-center text-6xl md:text-left leading-relaxed">
            You have questions.<hr>We have answers.
          </h1>
          <p class="text-2xl text-center md:text-left">
            Do you have another question about Icebreaker? <br />
            <a class="text-primary-500" href="/contact">Let us know!</a>
          </p>
        </div>
      </div>
    </div>

  <FullWidth>
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2 class="text-6xl">FAQ</h2>
        <p class="text-2xl">
          Icebreaker is recognizable in many ways, but we defintely do things differently.
        </p>
        <p class="text-2xl">
          Here are some of the most common questions we get.
        </p>
        <a class="button" href="/faq">Contact support team</a>
      </div>
      <div>
        <Accordion>
          <AccordionItem title="Does Icebreaker work with or replace Snowflake/Athena/Redshift/BigQuery?" open>
            <p>
              Icebreaker replaces SQL workloads that use Iceberg tables. Our perpective is there's no point in paying premium pricing for what are now commodity services.
            </p>
          </AccordionItem>
          <AccordionItem title="Can I move my Spark jobs that run on Databricks and Amazon EMR to Icebreaker?">
            <p>
              Icebreaker will support Spark for distributed queries in the future. But you may still find value in Icebreaker now. Many jobs that run on distributed architectures can run just fine on large, single instances at the same "compute unit" cost.
            </p>
          </AccordionItem>
          <AccordionItem title="Do I need to use Iceberg tables?">
            <p>
              Currently, yes. Icebreaker works with Iceberg tables. 
            </p>
          </AccordionItem>
          <AccordionItem title="What if I don't have Iceberg tables now? Can I still use Icebreaker?">
            <p>
              You can use Icebreaker in your ETL/ELT pipeline to write Iceberg tables and perform SQL transformations. 
            </p>
          </AccordionItem>
          <AccordionItem title="What else do I need besides Iceberg tables?">
            <p>
              Icebreaker currently runs in your AWS cloud account using <a href="https://aws.amazon.com/ec2/">AWS EC2</a> instances. You get to prioritize on-demand, reserved instance (RI), or spot pricing for your various workloads.
            </p>  
          </AccordionItem>
          <AccordionItem title="We negotiated a Private Pricing Agreement (PPA) or Enterprise Discount Program (EDP) with AWS for a huge discount on Reserved Instances (RI). Can I use it with Icebreaker?">
            <p>
              Icebreaker was inspired by organizations just like yours! Too often, organizations have loads of discounted compute capacity, which they use for non-data applications. They still pay for Snowflake, or Redshift, or BigQuery (the list goes on) for data processing! Instead, you can run your SQL jobs on Icebreaker, which uses available capacity on Reserved Instances (or spot instances for even more savings). See <a href="../../product/byoc-daas">BYOC or DaaS</a> to learn more.
            </p>
          </AccordionItem>
          <AccordionItem title="Does Icebreaker work with my BI tool?">
            <p>
              Yes, Icebreaker provides endpoints that work with your BI tool. 
            </p>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </FullWidth>

</DefaultLayout>
