---
import CallToAction from './CallToAction.astro'
import Logo from './Logo.astro'
import { Heading, Link } from 'accessible-astro-components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section>
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Icebreaker Data, Inc. All rights reserved.
      </p>
      <p>
        Icon credits: <Link href="https://www.flaticon.com/" isExternal title="Icon art attribution">HAJICON - Flaticon</Link>
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>