---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const { src = 'icebreaker_logo.png' } = Astro.props
---

<section class="hero">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-[2fr_1fr]">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-5xl md:text-left leading-relaxed">
          A New Serverless Platform for the Data Lake
        </h1>
        <p class="text-3xl text-center md:text-left leading-relaxed">
          Built for data-hungry AI agents and <br>organizations that thrive on analytics.
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/product/stack/">
            <Icon name="ion:sparkles-outline" />
            Advanced Technology
          </a>
          <a class="button has-icon color-secondary" href="/product/demand-shaping/">
            <Icon name="ion:cash-outline" />
            Operationalize Data FinOps
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
