---
import '/src/assets/scss/tailwind.css';
import '/src/assets/scss/globals.scss'
import SiteMeta from '/src/components/SiteMeta.astro'
import Header from '/src/components/Header.astro'
import Footer from '/src/components/Footer.astro'

const {
  title = 'Icebreaker Data',
  description = 'Icebreaker brings provider-grade serverless economics and automation to your private data cloud.',
  url = Astro.site,
  image = 'social-preview-image.png',
  author = 'Icebreaker Data',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <SiteMeta title={title} description={description.substring(0, 100)} url={url} image={image} author={author} />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 6px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: 'Open Sans', sans-serif;
        --font-family-special: 'Open Sans', sans-serif;

        // light theme
        --font-color: var(--neutral-700);
        --action-color: var(--primary-500);
        --action-color-state: var(--secondary-500);
        --heading-color: var(--primary-500);
        --background: var(--neutral-100);
        --primary-background: var(--primary-100);
        --neutral-background: var(--neutral-200);
      }

      // dark color scheme overrides
      .darkmode {
        --font-color: var(--neutral-100);
        --action-color: var(--secondary-100);
        --action-color-state: var(--primary-100);
        --heading-color: var(--secondary-300);        
        --background: var(--dark-100);
        --primary-background: var(--primary-500);
        --neutral-background: var(--neutral-900);
      }
      /* Targets any link inside a container that has a light background, 
        specifically when the rest of the site is in dark mode */
        .darkmode [class*="bg-neutral-1"] a:not(.button),
        .darkmode [class*="bg-white"] a:not(.button) {
          color: var(--primary-500) !important;
          &:hover {
            color: var(--secondary-500) !important;
            text-decoration: underline;
         }
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        overflow-x: hidden;
        color: var(--font-color);

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--action-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }

      .sr-only {
        position: absolute;
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border-width: 0;
        white-space: nowrap;
      }

    </style>
  </body>
</html>
